.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.rep-container {
  padding: 10px 20px;
  width: 780px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.delete-repo-button {
  font-family: var(--font-family-medium);
  color: white;
  background-color: #dc3545;
  margin-left: 782px;
}

.delete-repo-button:hover {
  background-color: rgb(163, 30, 43);
}

.titulo-container {
  font-family: var(--font-family-bold);
  border-bottom: 2px solid #e2dfdf;
  padding-bottom: 5px;
}

.input-edit {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  outline: none;
  background: #d9d9d9;
  border: none;
  padding-left: 10px;
  font-family: var(--font-family-medium);
}

.botao-atualizar {
  background-color: rgb(50, 209, 50);
  font-family: var(--font-family-medium);
}

.botao-atualizar:hover {
  background-color: rgb(35, 145, 35) !important;
}

.lista-colaboradores {
  margin-top: -10px;
  font-family: var(--font-family-medium);
}

.botao-colab {
  margin-left: 10px;
  background-color: rgb(50, 209, 50);
  font-family: var(--font-family-medium);
}

.botao-colab:hover {
  background-color: rgb(35, 145, 35) !important;
}
