.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.rep-container {
  padding: 0.5rem 1rem;
  width: 50rem;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.delete-repo-button {
  font-family: var(--font-family-medium);
  color: white;
  background-color: #dc3545;
  margin-left: 80rem;
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.delete-repo-button:hover {
  background-color: rgb(163, 30, 43);
}

.titulo-container {
  font-family: var(--font-family-bold);
  border-bottom: 0.125rem solid #e2dfdf;
  padding: 0.25rem 0;
}

.input-edit {
  height: 2rem;
  width: 250px;
  border-radius: 0.25rem;
  outline: none;
  background: #d9d9d9;
  border: none;
  padding-left: 0.5rem;
  font-family: var(--font-family-medium);
}

.botao-atualizar {
  background-color: rgb(50, 209, 201);
  font-family: var(--font-family-medium);
}

.botao-atualizar:hover {
  background-color: rgb(31, 131, 126) !important;
}

.lista-colaboradores {
  font-family: var(--font-family-medium);
}

.botao-colab {
  background-color: rgb(50, 209, 201);
  font-family: var(--font-family-medium);
}

.botao-colab:hover {
  background-color: rgb(31, 131, 126) !important;
}

.add_colab-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.desc-update-container {
  display: flex;
  gap: 1rem;
  align-items: end;
}

.ant-list-item.colaborador {
  padding: 0.5rem 0;
}
