/* Estilos do cabeçalho */
.custom-header {
  background: #001529;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos do menu */
.custom-menu {
  flex: 1;
}

.custom-menu-item {
  font-weight: bold;
}

.custom-menu-item.ant-menu-item-selected {
  background-color: #722ed1;
}

.custom-logout-container {
  display: flex;
  align-items: center;
}

/* Estilos do botão de logout */
.custom-logout-button {
  margin-left: 10px;
  background-color: #1890ff;
  border-color: #1890ff;
}

.custom-logout-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}
