.custom-header {
  background-color: #001529; /* Fundo escuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.custom-menu {
  flex-grow: 1;
}

.custom-menu-item {
  color: #fff;
  font-size: 16px;
}

.custom-logout-container {
  margin-left: auto;
}

.custom-logout-button {
  color: #fff;
  border: none;
  background-color: transparent;
}

.custom-logout-button:hover {
  color: #ff4d4f;
}
