@font-face {
  font-family: "DM Sans Bold";
  src: url(/fonts/DMSans_18pt-Bold.woff);
}

@font-face {
  font-family: "DM Sans";
  src: url(/fonts/DMSans_18pt-Regular.woff);
}

@font-face {
  font-family: "DM Sans Medium";
  src: url(/fonts/DMSans_18pt-Medium.woff);
}

.custom-header {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.custom-menu {
  flex-grow: 1;
  background-color: #f3f3f3;
}

.custom-menu-item {
  font-size: 16px;
  font-family: "DM Sans";
  color: #000 !important;
}

.custom-logout-container {
  margin-left: auto;
}

.custom-logout-button {
  color: black;
  border: none;
  background-color: #ebebeb;
}

.custom-logout-button:hover {
  color: black !important;
}

.selected {
  background-color: #e8e8e8;
  border-bottom: 3px solid #583dff;
}
