.repo-detail-container {
  background-color: #f5f5f5;
  height: 100dvh;
}

.edit-button {
  display: flex;
  background-color: rgb(180, 180, 180);
  color: white;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
}

.edit-button:hover {
  background-color: rgb(73, 73, 73) !important;
  color: #fff !important; 
}
