.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 80vh; /* Garante que o conteúdo fique centralizado verticalmente */
}

.video-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.video-container {
    flex: 1;
    max-width: 60%; /* O vídeo ocupará 60% da largura */
    padding-right: 20px;
}

.analise-container {
    flex: 0.4;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.analise-container h2 {
    margin-bottom: 10px;
}

.analise-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

video {
    width: 100%; /* O vídeo se ajusta ao tamanho da coluna */
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.video-container video {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.video-container h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

.video-container p {
    font-size: 16px;
    color: #555;
}

.video-container {
    position: relative;
    padding: 20px;
}

.delete-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 8px 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #ff1a1a;
}

.video-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.video-container {
    flex: 1;
    max-width: 60%; /* O vídeo ocupará 60% da largura */
    padding-right: 20px;
}

.analise-container {
    flex: 0.4;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.analise-container h2 {
    margin-bottom: 10px;
}

.analise-container p {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

